.titulosegunda{
    font-family: 'Orbitron', sans-serif; /* Fonte quadrada/futurista */
    font-size: 4rem; /* Bem grande */
    text-align: center; /* Centralizado */
    color: white; /* Cor do texto */
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364); /* Fundo com gradiente */
    padding: 20px;
    border-radius: 10px; /* Cantos arredondados */
    text-transform: uppercase; /* Tudo em maiúsculas */
    letter-spacing: 5px; /* Espaço entre letras */
    -webkit-text-stroke: 2px black; /* Contorno da letra */
    box-shadow: 0 0 15px rgba(0,0,0,0.7); /* Sombra externa */
}

.botao{
    color: white;
    background-color: rgb(40, 39, 39);
    padding: 5px;
    border-radius: 5px;
    border:2px solid rgb(255, 255, 255);
    text-decoration: none;
}

.botao:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}









/* .seg{
    background-color: rgb(21, 207, 4);
} */